<div class="jumbotron text-center">
	<h1>Students Page</h1>

		<table class="table table-condensed" id="updateStudentTable">
			<thead>
				<tr>
					<th>Name</th>
					<th>Age</th>
					<th>Year</th>
				</tr>
			</thead>
			<tbody>
				<tr>
				<!-- <tr ng-repeat="student in students"> -->
					<td>{{student.name}}</td>
					<td>{{student.age}}</td>
					<td>{{student.year}}</td>
					<td><button type="button" class="btn btn-danger">Delete</button></td>
					<td><button type="button" class="btn btn-default">Update</button></td>
				<!-- </tr> -->
				</tr>
			</tbody>
		</table>

</div>